/* common styles */
* {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Lato', sans-serif;
}
.description {
   color: rgba(39, 39, 39, 0.60);
   font-size: 16px;
   font-weight: 400;
   line-height: 25px;
   padding: 15px 0;
}
.btn-common {
   border: 0;
   border-radius: 5px;
   background: #E55473;
   padding: 13px 25px;
   color: white;
   font-size: 18px;
   font-weight: 700;
}
.head-1 {
   color: #272727;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
}


/* header */
header {
   background: rgba(229, 84, 115, 0.10);
   display: flex;
   justify-content: center;
   align-items: center;
}
.header-title-container {
   margin-right: 50px;
}
.header-title-text {
   color: #272727;
   width: 500px;
   font-size: 60px;
   font-weight: 800;
}
.header-title-container .description {
   width: 634px;
   padding: 20px 0;
}
.header-img-container {
   margin-top: 30px;
   width: 435px;
   height: 548px;
   background: url('../images/pngwing_10.png');
   background-repeat: no-repeat;
   background-size: cover;
}


/* featured flowers */
.featured-container {
   display: block;
   margin-top: 100px;
}
.featured-title .description {
   width: 594px;
   margin: auto;
   text-align: center;
}
.featured-content {
   display: flex;
   justify-content: center;
}
.featured-content > div {
   display: block;
   text-align: center;
}
.featured-content > div a {
   color: #272727;
   font-size: 16px;
   font-weight: bold;
   text-decoration-line: underline;
}
.flower-holder {
   width: 300px;
   height: 347px;
   border-radius: 300px 300px 0px 0px;
   background-repeat: no-repeat;
   background-size: 200px 276px;
   background-position: bottom;
   margin-bottom: 30px;
   margin-top: 30px;
}
.featured-content div:nth-child(1) .flower-holder {
   background-color: rgba(167, 33, 98, 0.15);
   background-image: url('../images/pngwing_6.png');
}
.featured-content div:nth-child(2) .flower-holder {
   background-color: rgba(5, 151, 160, 0.15);
   background-image: url('../images/pngwing_5.png');
   margin: 30px 20px;
}
.featured-content div:nth-child(3) .flower-holder {
   background-color: rgba(71, 125, 17, 0.15);
   background-image: url('../images/pngwing_7.png');
}


/* deal */
.deal-container {
   display: flex;
   justify-content: center;
   background: rgba(229, 84, 115, 0.05);
}
.deal-title {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto 70px;
   margin-left: 0;
}
.deal-title p {
   text-align: center;
   width: 594px;
}
.deal-image {
   width: 250px;
   height: 330px;
   background-image: url('../images/pngwing_8.png');
   background-size: cover;
   margin: 70px 0;
}


/* Instagram */
.insta-container {
   display: block;
   margin-top: 100px;
}
.insta-title .description {
   width: 594px;
   margin: auto;
   text-align: center;
}
.insta-content {
   display: flex;
   justify-content: center;
}
.insta-content > div {
   width: 250px;
   height: 290px;
   margin: 10px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   border: 0;
   border-radius: 3px;
}
.insta-content div:nth-child(1) {
   background-image: url('../images/Flower_01.png');
}
.insta-content div:nth-child(2) {
   background-image: url('../images/Rectangle_4.png');
}
.insta-content div:nth-child(3) {
   background-image: url('../images/Rectangle_5.png');
}
.insta-content div:nth-child(4) {
   background-image: url('../images/Rectangle_6.png');
}
